params {
    bam_directory_path = ""
    bed_file_path = ""
    fasta_file_path = ""
    sample_labels_csv_path = "NO_FILE"
    out_dir = ""
    at_anchor = 25
    gc_anchor = 75
    failure_fold_change = 2
    warning_fold_change = 1.5
    failure_at = 1.5
    failure_gc = 1.5
    draw_trend = false
    show_sample_names = true
    publish_bam_files = false
}

process {
    container = 'quay.io/easygsea/panelgc:latest'
}

apptainer {
    enabled = true
    autoMounts = true
}

cleanup = true
