params {
    bam_directory_path = ""
    bed_file_path = ""
    fasta_file_path = ""
    out_dir = "panelgc_results"
    coverage_tool = "bedtools"
    minimum_baseq = 0
    minimum_mapq = 1
    sample_labels_csv_path = "NO_FILE"
    out_dir = ""
    window_size = 100
    at_anchor = 25
    gc_anchor = 75
    failure_fold_change = 2
    warning_fold_change = 1.5
    failure_at = 1.5
    failure_gc = 1.5
    y_lim = "auto"
    draw_gc_distribution = true
    draw_trend = false
    show_sample_names = true
    draw_per_base_coverage = true
    publish_per_base_coverage = true
    publish_gc_content_summary = true
    publish_bam_files = false
}

process {
    container = 'quay.io/easygsea/panelgc:latest'
    
    // Add retry configuration
    withRetry {
        maxRetries = 10
        errorStrategy = 'retry'
    }
}

apptainer {
    enabled = true
    autoMounts = true
}

cleanup = true
